//! **************************************************************************
// Written by: Map I.31 on Sun Oct 20 20:00:37 2019
//! **************************************************************************

SCHEMATIC START;
COMP "x3<1>" LOCATE = SITE "P74" LEVEL 1;
COMP "x2<5>" LOCATE = SITE "P99" LEVEL 1;
COMP "f" LOCATE = SITE "P10" LEVEL 1;
COMP "x3<2>" LOCATE = SITE "P76" LEVEL 1;
COMP "x2<6>" LOCATE = SITE "P98" LEVEL 1;
COMP "cl" LOCATE = SITE "P41" LEVEL 1;
COMP "x3<3>" LOCATE = SITE "P77" LEVEL 1;
COMP "x3<4>" LOCATE = SITE "P78" LEVEL 1;
COMP "x3<5>" LOCATE = SITE "P80" LEVEL 1;
COMP "x3<6>" LOCATE = SITE "P79" LEVEL 1;
COMP "i<0>" LOCATE = SITE "P26" LEVEL 1;
COMP "i<1>" LOCATE = SITE "P27" LEVEL 1;
COMP "i<2>" LOCATE = SITE "P28" LEVEL 1;
COMP "i<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "l1" LOCATE = SITE "P17" LEVEL 1;
COMP "l2" LOCATE = SITE "P18" LEVEL 1;
COMP "l3" LOCATE = SITE "P20" LEVEL 1;
COMP "x1<0>" LOCATE = SITE "P100" LEVEL 1;
COMP "x1<1>" LOCATE = SITE "P102" LEVEL 1;
COMP "x1<2>" LOCATE = SITE "P103" LEVEL 1;
COMP "x1<3>" LOCATE = SITE "P104" LEVEL 1;
COMP "x2<0>" LOCATE = SITE "P92" LEVEL 1;
COMP "x1<4>" LOCATE = SITE "P105" LEVEL 1;
COMP "x2<1>" LOCATE = SITE "P93" LEVEL 1;
COMP "x1<5>" LOCATE = SITE "P108" LEVEL 1;
COMP "x2<2>" LOCATE = SITE "P95" LEVEL 1;
COMP "x1<6>" LOCATE = SITE "P107" LEVEL 1;
COMP "x2<3>" LOCATE = SITE "P96" LEVEL 1;
COMP "x3<0>" LOCATE = SITE "P73" LEVEL 1;
COMP "x2<4>" LOCATE = SITE "P97" LEVEL 1;
NET "cl_BUFGP/IBUFG" BEL "cl_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
